<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>

        <style type="text/css">
            body {
                margin: 0;
                padding: 0px;
                font-size: 12pt;
                font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color: rgb(12, 12, 12);
            }

            .report-header {
                background: rgb(238, 238, 238);
                color: rgb(15, 15, 15);
                font-size: 14pt;
                padding: 10px;
                padding-bottom: 1rem;
            }

            .report-header .logo {
                top: 35px;
                left: 15px;
                width: 150px;
            }

            .report-header .header1 {
                display: flex;
            }

            .report-footer {
                background: rgb(214, 214, 214);
                color: rgb(15, 15, 15);
                padding: 1rem;
                padding-top: 0.2rem;
                padding-bottom: 0rem;
                box-sizing: border-box;
                display: block;
                position: relative;
            }

            .report-body {
                width: 100%;
                display: inline-block;
                position: relative;
                padding: 8px;
                margin-left: 10px;
                box-sizing: border-box;
                vertical-align: top;
            }

            .report-body .info {
                /*border: rgb(204,204,204) solid 1px; 504620*/
                padding: 2px;
                margin-right: 1rem;
                display: flex !important;
                flex-wrap: wrap;
                position: relative;
            }

            .right {
                text-align: right;
                margin-right: 1rem;
            }

            .small {
                min-width: 12rem;
            }

            .half {
                width: 50%;
            }

            .halfd {
                width: 21.2rem;
            }

            .halfc {
                width: 18.5rem;
            }

            .fullb {
                width: 39.6rem;
            }

            .report-body p {
                margin: 0 !important;
                padding: 0 !important;
            }

            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            .flextable {
                display: flex !important;
                justify-content: center !important;
                align-items: stretch !important;
                font-size: 10pt;
                margin-bottom: 0.5rem;
                margin-top: 0.2rem;
                margin-right: 0;
            }

            .flextable .item {
                flex-grow: 1;
            }

            .flextable .item table {
                margin: 0 auto;
                font-size: 10pt;
                height: 12%;
            }

            .underlined {
                border-bottom: rgb(0, 0, 0) solid 1px;
            }
        </style>
    </head>

    <body>
        <div class="report-header">
            <div class="header1">
                <img src="https://i.ibb.co/h8rwHsG/logo.jpg" class="logo" />
                <div style="margin-left: 3rem">
                    <h3>FUNDACIÓN DR. ALFONSO PONCE ARCHILA</h3>
                    <p>Hoja de Evaluación Medica: Oftalmología</p>
                </div>
            </div>
        </div>
        <div class="right">
            <p><span style="font-weight: bold">Fecha:</span> {{fecha}}</p>
        </div>
        <div class="report-body" color="red">
            <div class="info">
                   <h3> <span style="font-weight: bold">Nombre:</span> {{nombre}} {{apellido}} </h3>
                </p>
            </div>
            <div class="info">
                <h3> <p><span style="font-weight: bold">Edad: </span>{{edad}}</p> </h3>
            </div>
            <!-- Custom agreggate -->
        </div>
        <div class="report-body">
            <HR WIDTH="710" SIZE="2S" COLOR="BLACK"></HR>
            <div class="info">
                <h2> <p><span style="font-weight: bold">Diagnostico</span></p> </h2>
            </div>
            <p>{{diagnostico}}</p>
            <div class="info">
                <h2> <p><span style="font-weight: bold">Medicamentos</span></p> </h2>
            </div>
            <p>{{medicamentos}}</p>
    
        </div> 
        <div class="item">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        </div> 
        <div class="report-footer">
            <div style="display: flex">
                <p style="width: 10rem">Próxima cita:</p>
                <p style="width: 20rem; margin-inline: auto; text-align: right">
                    Firma Médico Responsable:
                </p>
            </div>
            <div style="display: flex; margin-top: 0rem; padding-bottom: 0rem; padding-top: 0rem">
                <p style="margin-left: auto; text-align: right">{{correlative}}</p>
            </div>
        </div>
    </body>
</html>
